#menu ul {
    list-style: none;
    padding: 0;
    width: 720px;
    background-color: #24252a;
    border: 1px solid red;
}

#menu ul::after{
    content:"" ;
    clear: both;
    display: table;
}

#menu li {
    display: block;
    padding: 0.5em 1.5em;
    color: white;
    text-decoration: none;
    float: left;
    
}

#menu li a:hover{
   background-color: #0582ac;
}

#menu li a:active{
    background-color: #885000;
}